node_modules
.output
.git
.env
.env.*
!.env.example
*.local
local.db
local.db-*
test.db
test.db-*
playwright-report
test-results
.nitro
.tanstack
.wrangler
.vinxi
__unconfig*
coverage
.DS_Store
npm-debug.log*
pnpm-debug.log*
package-lock.json
.cursor
